<div class="thanksBody">

    <div class="thanksPara">
        <h2>Thank you {{first_name}} for signing our petition</h2>
    </div>

    <img class="thanksImg" src="{{signature}}" alt="" />

    <a class="thanksSigners" href="signatures">
        See all
        {{signersNumber}}
        Signers</a>

    <a id="edit" href="/profile/edit"> Edit Your Profile </a>

    <a id="delete" href="/deleteSignature">Delete your Signature</a>

    <a id="logout" href="/logout"> logout </a>

</div>